body {
  margin: 0;
  padding: 0;
  font-family: 'Verdana';
  overflow: hidden;
  background: radial-gradient(circle at center, #303f9f, #1a237e);
  width: 100vw;
  height: 100vh;
  color: white;
}

#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: absolute;
  top: 55%;
  width: 300px;
  height: 5px;
  overflow-x: hidden;
}

.line {
  position: absolute;
  opacity: 0.4;
  background: white;
  width: 150%;
  height: 5px;
}

.subline {
  position: absolute;
  background: white;
  height: 5px;
}

.inc {
  animation: increase 2s infinite;
}
.dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}

@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
